@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 2%;
    --foreground: 195 6% 89%;
    --card: 0 0% 6%;
    --card-foreground: 195 6% 89%;
    --popover: 0 0% 6%;
    --popover-foreground: 195 6% 89%;
    --primary: 186 100% 50%;
    --primary-foreground: 0 0% 0%;
    --secondary: 25 100% 50%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 11%;
    --muted-foreground: 0 0% 42%;
    --accent: 186 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 100% 42%;
    --destructive-foreground: 0 0% 98%;
    --border: 227 71% 22%;
    --input: 0 0% 5%;
    --ring: 186 100% 50%;
    --radius: 0.25rem;
  }
}

@layer base {
  * { @apply border-border outline-ring/50; }
  body {
    background: var(--bg-page) !important;
    color: var(--text-primary) !important;
  }
}
